<nav class="navbar">
  <a (click)="scrollTo('home')" href="home" class="logo">
    <img class="logo-icon" [src]="logoPath" />
    <span class="logo-text">Creatie Z</span>
  </a>

  <ul class="nav-links">
    <li><a (click)="scrollTo('services')" href="home#services">Services</a></li>
    <li><a (click)="scrollTo('process')" href="home#process">Case Studies</a></li>
    <li><a href="#">Insights</a></li>
    <li><a href="#">About Us</a></li>
  </ul>

  <button class="btn-contact" (click)="onContact()">Contact Us</button>
</nav>
